footer{

    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 50px;
}

footer p{
    font-size: 14px;
    margin-left: 28px;
    color: rgb(83, 83, 80);

}

footer a{
  text-decoration: none;
}

footer img{
     
  width: 20%px;
  height: 60px;
  margin-left: 70%;
}