
.s4c1{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: auto;
    width: 100%;
    border: 2px solid rgb(194, 196, 194);
    padding: 10px;
    margin-top: 0px;

}

.logo{

    width: 150px;
    height: 110px;
    margin-bottom: 50px;
    color: green;
}

.s4t1{
     margin-top: -30px;
     font-size: 20px;
     margin-bottom: 10px;
     color: rgb(48, 49, 49);
}

.s4t2{
    color: gray;
    margin-top: -30px;
}

.s4t3{
    color: black;
    margin-left: -230px;
    margin-bottom: 2px;
}
.s4t4{
    color: black;
    margin-left: -230px;
    margin-bottom: 2px;
}


.s4I1{
       width: 300px;
       height: 40px;
       
}


.s4I2{
    width: 300px;
    height: 40px;
    
}


.s4I2{
    width: 300px;
    height: 40px;
    
}
.s4I3{
    width: 25px;
    height: 25px;
    margin-top:20px;
    margin-left: -150px;
    
}
.s4t5{
    color: rgb(59, 143, 233);
    margin-left: -150px;
    margin-top: 23px;

}

.s4c2{

    display: flex;
    flex-direction: row;
    


}

.s4c3{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: rgb(46, 143, 33);
     width: 300px;
     border-radius: 5px;
}

.s4t6{
    color:white;
}

.s4t7{
    color:rgb(33, 88, 143);
    font-size: 15px;
    margin-left: -60px;
}
.s4t8{
    color:rgb(33, 88, 143);
    font-size: 15px;
    margin-left: -100px;
    margin-top: -20px;
}

.s4t9{
    color: black;
    margin-left: -200px;
    margin-bottom: 2px;
}
.s4t9B{
    color: black;

    margin-bottom: -5px;
}





