.s3c0{

    background-color: rgb(203, 201, 201);


}
.s3c1{

     background-color: rgb(9, 24, 75);
     height: 250px;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}

.s3c1 img{

    width: 25%;
    height: 30%;
}
.s3c1A{

    background-image: url("../assets/accountbg.jpeg");
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.s3c1A2{

   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.s3c3A{
      display: flex;
      justify-content: center;
      align-items: center;
}

.s3p3A{
    color: rgb(215, 205, 205);
    font-size: 64px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.s3p3A2{
    color: rgb(245, 230, 230);
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.s3p1A{
    color: white;
    margin: 0;
    margin-top: 10px;
}

.s3c1A img{

    width: 25%;
    height: 30%;
}
.s3p2A{
    color: white;
    margin: 0;
    margin-top: 0px;
}

.hr{
    width: 90%;
    border-color: rgb(103, 115, 126);
    margin-top: 20px;
}

.s3c1{
    color: white;
}


.s3c2{
    background-color: rgb(30, 89, 109);
    height: 150px;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 7px;
}

.s3p2{
    color: white;
    margin: 0;
    margin-top: 10px;
}
.s3p3{
    color: white;
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 20px;
}




.s3c3{
    background-color: rgb(3, 3, 28);
    height: 150px;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 7px;
}

.s3c4{

    background-color: rgb(255, 254, 254);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 2%;
    border-radius: 7px;
    width: 88%;

}
.s3c5{

    background-color: rgb(255, 254, 254);
    display: flex;
    flex-direction: column;
   
    justify-content: baseline;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 2%;
    border-radius: 7px;
    width: 88%;
    height: 150px;


}

.s3c5 img{

    width: 30%;
    height: 35%;


}

.s3p4{
    color: rgb(123, 120, 120);
    font-size: 14px;
    margin-top: 20px;
    
 
}

.s3c6 {

  display: flex;
  flex-direction: row;
 align-items: center;
 margin-top: -30px;


}

.vl{
    border-left: 2px solid rgb(123, 120, 120);;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.s3p5{
    color: rgb(123, 120, 120);
    font-size: 44px;
    margin-top: 20px;
}
.s3p6{
    color: rgb(123, 120, 120);
    font-size: 13px;
    margin-top: -10px;
}

.s3p7{
    color: rgb(123, 120, 120);
    font-size: 13px;
    margin-top: 0px;
}

.s3c8{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 242, 242);
  width: "%70";
  margin: 10px;
  padding: 10px;
}

.s3c9{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.s3p8{
    color: rgba(26, 26, 28, 0.893);
    font-size: 18px;
    margin-left: 10px;

}
.s3p9{
    color: rgba(15, 25, 174, 0.893);
    font-size: 18px;
    font-weight: bold;
  
}

.s3c10{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 242, 242);
    width: "%70";
    margin: 10px;
    padding: 10px;
  }
  
.s3c11{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.s3p9{
    color: rgba(26, 26, 28, 0.893);
    font-size: 18px;
    margin-left: 10px;

}
.s3p10{
    color: rgba(15, 25, 174, 0.893);
    font-size: 18px;
    font-weight: bold;
  
}

.s3c12{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 242, 242);
    width: "%70";
    margin: 10px;
    padding: 10px;
  }

  .s3c13{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    width: "%70";
    margin: 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1px;
  }
  .s3c14{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    margin-top: -10px;
  }

  .s3p11{
    color:rgb(119, 109, 109);
  }
  .s3p12{
    color:rgb(4, 4, 4);
  }
  .s3p13{
    color:rgb(63, 142, 71);
  }